<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>This is Person information page</h1>

<table border="1">
    <thead><tr>
        <th>id</th>
        <th>APP名字</th>
        <th>公司</th>
        <th>审核状况</th>
    </thead></tr>
    <tbody>
    <tr th:each="app,status: ${apps}">
        <td th:text="${status.index}"></td>
        <td th:text="${app.id}"></td>
        <td th:text="${app.name}"></td>
        <td th:text="${app.password}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>